.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
  }
  
  a {
    color: #ffffff;
  }
  span {
    color: #ffffff;
  }
  
  app-auth-button  {
  }

@media only screen and (min-width: 575.98px) { 
  app-auth-button  {
    position: absolute;
    right: 0;
  }
  }